.signup-container {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #ecf0f1;
}

.signup-box {
  background-color: white;
  padding: 40px;
  border-radius: 10px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
  width: 100%;
  max-width: 400px;
  text-align: center;
}

.signup-box h1 {
  margin-bottom: 10px;
  color: #2c3e50;
}

.signup-box span {
  font-size: 14px;
  color: #555;
}

.signup-input-details {
  display: flex;
  flex-direction: column;
  gap: 20px;
  margin-top: 20px;
}

.signup-input-details input {
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 5px;
}

.signing-up-input-other-details {
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.signing-up-btn {
  padding: 10px 20px;
  background-color: #2c3e50;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}
.signing-up-btn:hover {
  background-color: #2980b9;
}
.signing-up-google-btn {
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  font-size: 15px;
}
.error-message {
  color: red;
  font-size: 13px;
  margin-top: 10px;
}
