.top-navbar-container {
  display: flex;
  align-items: flex-end;
  justify-content: end;
  color: white;
  padding: 20px;
  background-color: #2c3e50;
}
.user-profile-navbar {
  display: flex;
  gap: 15px;
  align-items: center;
  justify-content: center;
  padding: 0 30px;
}
.user-profile-navbar img {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  object-fit: cover;
}
.user-profile-navbar p {
  font-size: 20px;
}
