.category-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 40px;
  color: black;
}
.category-input-container {
  display: flex;
  gap: 70px;
  justify-content: center;
  align-items: center;
}
.category-input {
  padding: 10px 20px;
  border-radius: 5px;
  border: 1px solid #ccc;
  outline: none;
  font-size: 16px;
  width: 250px;
}
.category-input:focus {
  border-color: #333;
}
.category-input-btn {
  padding: 15px;
  border: none;
  background-color: black;
  outline: none;
  cursor: pointer;
  border-radius: 5px;
  color: white;
  transition: background-color 0.3s;
  font-size: 15px;
}
.category-input-btn:hover {
  background-color: #333;
}
.category-table-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 15px;
  border-collapse: collapse;
  background-color: #f2f2f2;
}

.category-table-container th,
.category-table-container td {
  padding: 20px 40px;
  border-bottom: 1px solid #ddd;
  text-align: left;
}
.category-actions {
  display: flex;
  gap: 20px;
}
.category-actions button {
  margin-right: 5px;
  padding: 10px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}
