/* Ekranı tam tutur, fon rəngi */
.login-container {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: sans-serif;
}

.login-box {
  background-color: white;
  padding: 60px 50px;
  border-radius: 10px;
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.3);
  width: 500px;
  color: #2c3e50;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.login-box h1 {
  margin-bottom: 15px;
  font-size: 28px;
  color: #34495e;
}

.login-box span {
  margin-bottom: 25px;
  font-size: 14px;
  color: #7f8c8d;
}

.login-input-details {
  display: flex;
  flex-direction: column;
  gap: 20px;
  width: 100%;
  margin-bottom: 20px;
}

.login-input-details input:not(.remember-me-input) {
  padding: 12px 15px;
  border: 1px solid #bdc3c7;
  border-radius: 6px;
  font-size: 14px;
  outline: none;
  transition: border-color 0.3s ease;
  width: 100%;
}

.login-input-details input:focus {
  border-color: #1abc9c;
}

.login-input-other-details {
  display: flex;
  align-items: center;
  gap: 10px;
  width: 100%;
  font-size: 14px;
}

.input-other-details input[type="checkbox"] {
  transform: scale(1.2);
  cursor: pointer;
}
.password-wrapper {
  position: relative;
  width: 100%;
}
.password-eye-icon {
  position: absolute;
  right: 10px;
  top: 50%;
  transform: translateY(-50%);
  cursor: pointer;
  color: #555;
}
.input-remember {
  display: flex;
  gap: 10px;
  font-size: 14px;
  color: #555;
}
.login-box button {
  margin-left: auto;
  padding: 12px 24px;
  background-color: #2980b9;
  border: none;
  border-radius: 6px;
  color: white;
  font-weight: 600;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.input-other-details button:hover {
  background-color: #1f6391;
}
